{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 body">
        <img src="{% static 'images/hero.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">CHRONOS</h1>
        <p class="text-primary">Empowering Your Projects, One Task at a Time!</p>
        <p class="lead">Effortlessly manage and organize tasks on-the-go with <strong>Chronos</strong>, your go-to task manager app. <strong>Chronos</strong> empowers you to stay productive anytime, anywhere. Streamline your task management with a tool that combines style and functionality for a top-notch user experience.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          {% if request.user.is_authenticated %}
              <a href="{% url 'chronos:worker-detail' pk=user.id %}" class="btn btn-lg btn-primary">Check your tasks</a>
            {% else %}
              <a href="{% url 'login' %}" class="btn btn-lg btn-primary">LogIn</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}