{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    <h2 class="d-flex justify-content-between">
    {{ project.name }}
    <a href="{% url 'chronos:task-create' %}" class="btn btn-primary ms-auto">Add new task</a>
  </h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Assignees</th>
        </tr>
      </thead>
      <tbody>
        {% for task in project.tasks.all %}
          <tr>
            <td>
              <a href="{% url 'chronos:task-detail' pk=task.id %}" class="no-underline">{{ task.title }}</a>
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.deadline|date:"d.m.Y" }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td>
              {% for assignee in task.assignees.all %}
                {{ assignee.username }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'chronos:project-list' %}" class="btn btn-secondary">Get Back</a>
  </div>
  </div>
{% endblock %}