{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    <h2 class="d-flex justify-content-between">
      <span class="">{{ team.name }} team</span>
      <a href="{% url 'chronos:team-update' pk=team.id %}" class="btn btn-primary ms-auto">
        Update
      </a>
    </h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team member</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
          {% if team.members %}
            {% for member in team.members.all %}
              <tr>
                <th scope="row">{{ member.id }}</th>
                <td><a href="{% url 'chronos:worker-detail' pk=member.id %}">{{ member.username }}</a></td>
                <td>{{ member.position.name }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="3" class="text-center">There are no members in this team</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
